.slider-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider {
    display: flex;
    width: 100%;
  }
  
  .slide {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  
  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0;
  }
  
  .left-arrow:hover, .right-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  